body {
    font-family: Arial;
    background: #1f7c9d;
    padding: 20px;
}
h1 {
    text-align: center;
}
.store-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto 30px;
    width: fit-content;   /* 🔑 THIS FIXES THE GAP */
}


.top-bar {
    background: #1f7f9b;   /* your blue bar */
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end; /* search stays right */
}

.search-bar {
    padding: 10px 15px;
    width: 240px;
    border-radius: 25px;
    border: none;
    outline: none;
}



/* VERTICAL LIST */
.phone-list-vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.phone-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone-item img {
    width: 120px;
    height: 160px;
    object-fit: contain;
}

.btn {
    margin-left: auto;
    background: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

/* PRODUCT PAGE */
.product-page {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

.back {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
